<div class="list-of-stiffeners">
  <div class="form-header">
    <h4 class="h4-page-name">List of stiffeners</h4>
  </div>
  <div class="form-main-part" id="list-of-stiffeners-main-part">
    <table class="table table-fixed" id="table-of-stiffeners">
      <thead>
        <tr class="head-row">
          <th scope="col">Pos</th>
          <th scope="col">Height</th>
          <th scope="col">Width</th>
          <th scope="col">Chamfer</th>
          <th scope="col">Beams</th>
          <th scope="col"></th>
        </tr>
      </thead>
      
      <tbody>
        <% @stiffeners.each do |stiffener| %>
          <tr class="record-row" id="row-<%= stiffener._id %>">
            <th scope="row"><%= stiffener.Pos %></th>
            <td><%= stiffener.Height %></td>
            <td><%= stiffener.Width %></td>
            <td><%= stiffener.Chamfer %></td>
            <td>
            <% stiffener.ibeams.each do |b| %>
            <p><%= b.Type %></p>
            <% end %>
            </td>
            <td>
              <!--<%= link_to stiffener, :class => 'btn btn-default btn-show' do %>-->
              <!--<%= content_tag(:span, nil, :class => 'glyphicon glyphicon-eye-open') %>-->
              <!--<% end %>-->
              <!--<%= link_to edit_stiffener_path(stiffener), :class => 'btn btn-default btn-edit' do %>-->
              <!--<%= content_tag(:span, nil, :class => 'glyphicon glyphicon-edit') %>-->
              <!--<% end %>-->
              <!--<%= link_to stiffener, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-default btn-destroy' do %>-->
              <!--<%= content_tag(:span, nil, :class => 'glyphicon glyphicon-remove-sign') %>-->
              <!--<% end %>-->
              <%= button_tag(:type => 'button', :class => "btn btn-default btn-destroy", :id => stiffener._id) do %>
              <%= content_tag(:span, nil, :class => 'glyphicon glyphicon-remove', :id => stiffener._id) %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    
    <%= link_to 'New Stiffener', new_stiffener_path, :class => 'btn btn-default btn-new-stiffener pull-right', :id => 'btn-new' %>
  </div>
</div>
<!--<div class="cell-C2">-->
<!--  <p id="notice"><%= notice %></p>-->
<!--</div>-->
